board {
	--boardSize : 85vmin;
	position    : relative;
	display     : block;
	width       : var(--boardSize);
	aspect-ratio: 1;
	margin      : auto;
	clip-path   : inset(-3vmin -1vmin -1vmin -1vmin);

	&:has(.removed),
	&.disabled {
		button {
			pointer-events: none;
		}
	}
}
