letter {
	position  : absolute;
	left      : 0;
	top       : 0;
	translate : calc(var(--x) * var(--distance)) calc(var(--y) * var(--distance));
	transition: translate .5s ease-in;

	&.entering {
		transition: none;
		opacity   : 0;
	}

	button {
		width           : calc(var(--distance) * .8);
		aspect-ratio    : 1;
		display         : flex;
		justify-content : center;
		align-items     : center;
		border-radius   : .7vmin;
		font-size       : 5vmin;
		text-transform  : lowercase;
		cursor          : pointer;
		background-color: whitesmoke;

		&:hover {
			box-shadow: 0 0 1vmin rgba(0, 0, 0, 0.5);
		}

		&.selected {
			background-color: gray;
			color           : greenyellow;
		}

		&.adjacent {
			background-color: #e2e2e2;

			&:hover {
				background-color: palegreen;
			}
		}

		&.inWord {
			background-color: lightgreen;
		}

		&.removed {
			background-color: plum;
			transform-origin: bottom;
			transition      : transform .5s ease-in;
			transform       : scale(1, 0);
		}
	}
}