letter {
	position  : absolute;
	left      : 0;
	top       : 0;
	translate : calc(var(--x) * var(--distance)) calc(var(--y) * var(--distance));
	transition: translate .5s ease-in;

	&.entering {
		transition: none;
		opacity   : 0;
	}

	button {
		width                : calc(var(--distance) * .8);
		aspect-ratio         : 1;
		display              : flex;
		justify-content      : center;
		align-items          : center;
		border-radius        : .7vmin;
		cursor               : pointer;
		background-color     : whitesmoke;
		background-image     : url('assets/images/hout.webp');
		background-repeat    : no-repeat;
		background-position  : var(--bgPos);
		background-blend-mode: multiply;
		font-family          : courier;
		font-size            : calc(80vmin / var(--size) / 2.5);
		color                : #444;
		--d1                 : calc(var(--distance) / 100);
		--d2                 : calc(-1 * var(--d1));
		--insetShadow        : inset var(--d2) var(--d2) 1vmin 0 grey, inset var(--d1) var(--d1) 1vmin 0 white;
		box-shadow           : 0 0 1vmin rgba(0, 0, 0, 0.2), var(--insetShadow);
		text-shadow          : 2px 2px 3px rgba(255, 255, 255, 0.6), -2px -2px 3px rgba(0, 0, 0, 0.2);
		padding-bottom       : .1lh;
		user-select          : none;

		&:hover {
			box-shadow: 0 0 .5vmin rgba(0, 0, 0, 0.8), var(--insetShadow);
		}

		&.adjacent {
			background-color     : #d2d2d2;
			background-blend-mode: luminosity;

			&:hover {
				background-color: hsl(120 73% 85% / 1);
			}
		}

		&.inWord {
			background-color: hsl(59 73% 68% / 1);
		}

		&.removed {
			transform-origin: bottom;
			transition      : transform .5s ease-in;
			transform       : scale(1, 0);
		}
	}
}
