menu {
	position: absolute;
	top     : 0;

	&.menu {
		left: 0;
	}

	&.help {
		right: 0;
	}
}

[popover] {
	z-index         : 1;
	padding         : 6vmin 3vmin 2vmin 2.3vmin;
	border-radius   : 0 0 1rem 0;
	transition      : all .5s ease-out allow-discrete;
	opacity         : 0;
	background-color: #ffffffee;
	box-shadow      : 0 0 1vmin rgba(0, 0, 0, 0.2);
	pointer-events  : none;

	.help & {
		position     : absolute;
		right        : 0;
		left         : auto;
		width        : min(39ch, 75vw);
		padding      : 3vmin 3vmin 2vmin 2.3vmin;
		border-radius: 0 0 0 1rem;

		&:popover-open {
			display       : flex;
			flex-direction: column;
		}

		h1 {
			margin: 0;
		}

		p.credits {
			text-align: right;
			font-size : 80%;

			a {
				color: black;
			}
		}
	}

	&:popover-open {
		opacity       : 1;
		pointer-events: all;
	}

	ul {
		list-style-type: none;
		font-size      : min(1.2rem, 4vmin);
		line-height    : 2;

		a {
			cursor: pointer;
		}

		li.selected a {
			font-weight: bold;
		}
	}
}

@starting-style {
	[popover] {
		display         : flex;
		rotate          : -90deg;
		transform-origin: left top;
		opacity         : 0;

		.help & {
			rotate          : 90deg;
			transform-origin: right top;
		}
	}
}

.menuToggle {
	padding    : 3vmin 2vmin;
	cursor     : pointer;
	border     : none;
	background : none;
	line-height: .3;
	color      : black;
	position   : fixed;
	top        : 0;

	&.menuToggle--menu {
		left: 0;
	}

	&.menuToggle--help {
		right: 0;
	}
}