menu {
	position: absolute;
	top     : 0;

	&.menu {
		left: 0;
		top : 0;
	}

	&.help {
		right: 0;

		h1 {
			width     : max-content;
			text-align: right;
			margin    : 0;
		}

		h1,
		p {
			display  : inline-block;
			max-width: 40ch;
		}

		p.credits {
			text-align: right;

			a {
				color: black;
			}
		}

	}
}

[popover] {
	position        : relative;
	z-index         : 1;
	padding         : 6vmin 3vmin 2vmin 2.3vmin;
	border-radius   : 0 0 1rem 0;
	transition      : all .5s ease-out allow-discrete;
	opacity         : 0;
	background-color: #ffffffee;

	.help & {
		position      : absolute;
		right         : 0;
		left          : auto;
		display       : flex;
		flex-direction: column;
		padding       : 3vmin 3vmin 2vmin 2.3vmin;
		border-radius : 0 0 0 1rem;
	}

	&:popover-open {
		transform: translate(0, 0);
		opacity  : 1;
	}

	ul {
		list-style-type: none;
		font-size      : min(1.2rem, 4vmin);
		line-height    : 2;

		a {
			cursor: pointer;
		}

		li.selected a {
			font-weight: bold;
		}
	}
}

@starting-style {
	[popover] {
		display  : block;
		transform: translate(-100%, -100%);
		opacity  : 0;
	}
}

.menuToggle {
	padding    : 2vmin;
	cursor     : pointer;
	border     : none;
	background : none;
	line-height: .3;
	color      : black;
	position   : fixed;
	top        : 0;

	&.menuToggle--menu {
		left: 0;
	}

	&.menuToggle--help {
		right: 0;
	}
}
