html {

	body,
	& {
		height     : 100dvh;
		overflow   : hidden;
		font-size  : 1.4rem;
		font-family: monospace;
		position   : relative;
		color      : black;
	}

	h1,
	h2 {
		display        : flex;
		justify-content: space-between;
		align-items    : center;
		margin         : 3vmin auto;
		width          : 80vmin;
		font-weight    : bold;
		font-family    : fantasy, cursive;
		font-size      : 4vmin;

		span:last-child {
			margin-right: 3vmin;
		}
	}

	h2 {
		letter-spacing: 10px;
		font-size     : 5vmin;
		margin        : 0 auto;
		text-transform: lowercase;

		span {
			flex: 0 0 20%;
		}

		.word {
			flex: 0 0 60%;
		}

		.score {
			text-align: right;
		}

		span::first-letter {
			text-transform: uppercase;
		}
	}
}
